.home-header {
    background-color: #000;
    text-align: center;
    padding: 10% 5%;
}


.arrow-down {
    display: inline-block;
    margin-top: 5%;
    cursor: pointer;
}

.arrow-down::before {
    content: '▼';
    font-size: 3rem;
    animation: bounce 2s infinite;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-5%);
    }

    60% {
        transform: translateY(-2.5%);
    }
}